@page "/DepositWithdraw"
@using Microsoft.VisualBasic
@inject IAccountService AccountService;

<PageTitle>Deposit & Withdraw</PageTitle>

<!-- Local warning & confirm message, clear after every successful method call or input from user -->
@if (warningMessage != string.Empty) {
    <div class="alert alert-danger alert-dismissible fade show">
        @warningMessage
    </div>
}
@if (confirmMessage != string.Empty) {
    <div class="alert alert-success alert-dismissible fade show">
        @confirmMessage
    </div>
}

<h2>Deposit & Withdraw</h2>
<hr />
<br />

<h4>Choose an account</h4> <span class="badge bg-primary">@_accounts.Count</span>
<!-- Binds chosen account index to chosenAccountIndex, default -1 (no account chosen) -->
<div className="mb-2">
    <InputSelect class="form-select" @bind-Value="chosenAccountIndex">
        <option value="-1">Accounts...</option>
        @foreach (var account in _accounts) {
            <option value="@_accounts.IndexOf(account)">@account.Name</option>
        }
    </InputSelect>
</div>
<br />

<!-- Show withdraw and deposit input only after picking a valid account -->
@if (chosenAccountIndex != -1) {
    <h5>@AccountService.GetAccountIndex(chosenAccountIndex).Name <small class="text-muted"><i>@AccountService.GetAccountIndex(chosenAccountIndex).Id</i></small></h5>
    <h5>Balance: @AccountService.GetAccountIndex(chosenAccountIndex).Balance @AccountService.GetAccountIndex(chosenAccountIndex).Currency <small class="text-muted"><i>@AccountService.GetAccountIndex(chosenAccountIndex).AccountType Account, Created: @AccountService.GetAccountIndex(chosenAccountIndex).LastUpdated</i></small></h5>
    <br />

    <label>Enter amount to withdraw from @AccountService.GetAccountIndex(chosenAccountIndex).Name</label>
    <div className="mb-2">
        <InputNumber class="form-control" placeholder="Withdraw from..." @bind-Value="withdrawAmount"></InputNumber>
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Withdraw balance" onclick="@WithdrawMethod">Withdraw balance from account</button>
    </div>

    <br />
    <label>Enter amount to deposit to @AccountService.GetAccountIndex(chosenAccountIndex).Name</label>
    <div className="mb-2">
        <InputNumber class="form-control" placeholder="Deposit to..." @bind-Value="depositAmount"></InputNumber>
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Deposit balance" @onclick="DepositMethod">Deposit balance to account</button>
    </div>
    <br/>

}


@code {
    // Declare variables
    int chosenAccountIndex = -1;
    decimal withdrawAmount = 0;
    decimal depositAmount = 0;
    string warningMessage = string.Empty;
    string confirmMessage = string.Empty;
    void clearWarning() {
        warningMessage = string.Empty;
        confirmMessage = string.Empty;
    }

    // Create new list _accounts,
    // set list to current BankAccounts list on startup and state change
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync() {
        await AccountService.EnsureLoadedAsync();
        _accounts = AccountService.GetAccounts();
        AccountService.OnAccountsChanged += OnAccountsChanged;
    }
    async void OnAccountsChanged() {
        var updated = AccountService.GetAccounts();
        _accounts = new List<BankAccount>(updated);
        await InvokeAsync(() => 
        {
            Console.WriteLine("Refreshing UI...");
            StateHasChanged();
        });
    }

    // Deposit & Withdraw methods
    private async Task WithdrawMethod()
    {
        if (AccountService.GetAccountIndex(chosenAccountIndex) != null) {
            if (withdrawAmount < 0) {
                warningMessage = "Cannot withdraw a negative amount from your account. To add balance, use the deposit label";
            }
            else if (withdrawAmount > AccountService.GetAccountIndex(chosenAccountIndex).Balance) {
                warningMessage = "Cannot withdraw more balance than you have in your account.";
            }
            else {
                await AccountService.Withdraw(AccountService.GetAccountIndex(chosenAccountIndex), withdrawAmount);
                clearWarning();
            }
        }
        _accounts = AccountService.GetAccounts();
    }
    private async Task DepositMethod()
    {
        if (AccountService.GetAccountIndex(chosenAccountIndex) != null) {
            if (depositAmount < 0) {
                warningMessage = "Cannot deposit a negative amount to your account. To remove balance, use the withdraw label";
            }
            else {
                await AccountService.Deposit(AccountService.GetAccountIndex(chosenAccountIndex), depositAmount);
                clearWarning();
            }
        }
        _accounts = AccountService.GetAccounts();
    }

}