@page "/ManageAccounts"
@inject IAccountService AccountService;

<PageTitle>Manage Accounts</PageTitle>

<!-- Local warning & confirm message, clear after every successful method call or input from user -->
@if (warningMessage != string.Empty) {
    <div class="alert alert-danger alert-dismissible fade show">
        @warningMessage
    </div>
}
@if (confirmMessage != string.Empty) {
    <div class="alert alert-success alert-dismissible fade show">
        @confirmMessage
    </div>
}

<h2>Manage Accounts</h2>
<hr />
<br />

<h4>Choose an account to manage:</h4> <span class="badge bg-primary">@_accounts.Count</span>
<!-- Binds chosen account index to chosenAccountIndex, default -1 (no account chosen) -->
<div className="mb-2">
    <InputSelect class="form-select" @bind-Value="chosenAccountIndex">
        <option value="-1">Choose your account</option>
        @foreach (var account in _accounts) {
            <option value="@_accounts.IndexOf(account)">@account.Name</option>
        }
    </InputSelect>
</div>
<br />

@if (chosenAccountIndex != -1) {
    // Display account info if an account is chosen
    <h5>@AccountService.GetAccountIndex(chosenAccountIndex).Name <small class="text-muted"><i>@AccountService.GetAccountIndex(chosenAccountIndex).Id</i></small></h5>
    <h5>Balance: @AccountService.GetAccountIndex(chosenAccountIndex).Balance @AccountService.GetAccountIndex(chosenAccountIndex).Currency <small class="text-muted"><i>@AccountService.GetAccountIndex(chosenAccountIndex).AccountType Account, Created: @AccountService.GetAccountIndex(chosenAccountIndex).LastUpdated</i></small></h5>
    // Display pending interest balance for savings accounts

    @if (@AccountService.GetAccountIndex(chosenAccountIndex).AccountType == AccountType.Savings) 
    {
    <h5><small class="text-success"><i>+@decimal.Round(AccountService.GetAccountIndex(chosenAccountIndex).PendingInterest, 2) @AccountService.GetAccountIndex(chosenAccountIndex).Currency Interest Pending (Added in @((DateTime.Now.AddDays(365)-@AccountService.GetAccountIndex(chosenAccountIndex).DepositInterestCountdown).Days) Days)</i></small>
        <div class="btn-group">
        <button type="button" class="btn btn-success" @onclick="() => dev10DaysInterestMethod(chosenAccountIndex)">(DEV) Add 10 days worth of interest</button>
        <button type="button" class="btn btn-success" @onclick="() => devDepositInterestMethod(chosenAccountIndex)">(DEV) Deposit current pending interest to total balance</button>
    </div> 
    </h5> 
    }
    <div class="btn-group">
        <button type="button" class="btn btn-danger" @onclick="() => RemoveAccountMethod()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
            <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
        </svg>
        Remove Account</button>
    </div> 
    <br />
}

<hr /><br/>
<h4>Change login password</h4>
<form>
    <div class="input-group">
        <input type="password" class="form-control" placeholder="Current password" @bind-value="oldPassword">
    </div>
    <div class="input-group"
        <input type="password" class="form-control" placeholder="New password" @bind-value="newPassword">
    </div>
    <br />
    <div>
        <button type="button" class="btn btn-success 
        @(oldPassword != string.Empty && newPassword != string.Empty ? "active" : "disabled")"
        @onclick="() => passwordChangeMethod()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
        </svg>
        Change password</button>
    </div>
</form>

@code {
    // Declare variables
    int chosenAccountIndex = -1;
    string warningMessage = string.Empty;
    string confirmMessage = string.Empty;
    void clearWarning() {
        warningMessage = string.Empty;
        confirmMessage = string.Empty;
    }
    string oldPassword = string.Empty;
    string newPassword = string.Empty;

    // Create new list _accounts,
    // set list to current BankAccounts list on startup and state change
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync() {
        await AccountService.EnsureLoadedAsync();
        _accounts = AccountService.GetAccounts();
        AccountService.OnAccountsChanged += OnAccountsChanged;
    }
    async void OnAccountsChanged() {
        var updated = AccountService.GetAccounts();
        _accounts = new List<BankAccount>(updated);
        await InvokeAsync(() => 
        {
            Console.WriteLine("Refreshing UI...");
            StateHasChanged();
        });
    }
    
    // Button call methods
    private async Task RemoveAccountMethod() {
        try {
            clearWarning();
            confirmMessage = $"Account " + AccountService.GetAccountIndex(chosenAccountIndex).Name + " removed";
            await AccountService.RemoveAccount(chosenAccountIndex);
            chosenAccountIndex = -1;
            _accounts = AccountService.GetAccounts();
        }
        catch {
            warningMessage = "Account could not be removed";
        }
    }
    void passwordChangeMethod() {
        if (oldPassword == AccountService.GetPassword()) {
            AccountService.SetPassword(newPassword);
            clearWarning();
            confirmMessage = "Password successfully changed";
        }
        else {
            clearWarning();
            warningMessage = "Current password is incorrect";
        }
    }

    // DEV
    void dev10DaysInterestMethod(int accountIndex) {
        AccountService.DevAddInterest(AccountService.GetAccountIndex(accountIndex));
        clearWarning();
        confirmMessage = $"DEV COMMAND: 10 days of interest added to pending amount" ;
    }
    void devDepositInterestMethod(int accountIndex) {
        AccountService.DevDepositInterest(AccountService.GetAccountIndex(accountIndex));
        clearWarning();
        confirmMessage = "DEV COMMAND: Pending amount immediately added to total account balance (Balance rounded to 2 places, ensure interest is above 0,0X)";
    }
}