@page "/ManageAccounts"
@inject IAccountService AccountService;

<h3>Manage Accounts</h3>

<p>Choose an account to manage:</p> 
<br />
<!-- Binds chosen account index to chosenAccountIndex, default -1 (no account chosen) -->
<div className="mb-2">
    <label>Choose your account</label>
    <InputSelect @bind-Value="chosenAccountIndex">
        <option value="-1">Choose your account</option>
        @foreach (var account in _accounts) {
            <option value="@_accounts.IndexOf(account)">@account.Name</option>
        }
    </InputSelect>
</div>
<br />

@if (chosenAccountIndex != -1) {
    <div className="mb-2">
        <label>Remove account @AccountService.GetAccountIndex(chosenAccountIndex).Name</label>
        <button onclick="@RemoveAccountMethod">Remove account</button>
    </div>
}
    <br /> <hr />
<!-- LIST ALL ACCOUNTS -->
@foreach (var account in _accounts) {
    <list>Account: @account.Name - Available amount: @account.Balance @account.Currency<br />Type: @account.AccountType<br /></list>
}

<!-- Local warning & confirm message, clear after every successful method call or input from user -->
@if (warningMessage != string.Empty) {
    <p style="color: red">@warningMessage</p>
}
@if (confirmMessage != string.Empty) {
    <p style="color: green">@confirmMessage</p>
}

@code {
    // Declare variables
    int chosenAccountIndex = -1;
    string warningMessage = string.Empty;
    string confirmMessage = string.Empty;
    void clearWarning() {
        warningMessage = string.Empty;
        confirmMessage = string.Empty;
    }

    // Create new list _accounts, set using GetAccounts() method
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync() {
        _accounts = await AccountService.GetAccounts();
    }
    
    private async Task RemoveAccountMethod() {
        await AccountService.RemoveAccount(chosenAccountIndex);
        _accounts = await AccountService.GetAccounts();
        chosenAccountIndex = -1;
    }
}