@page "/Transaction"
@using Microsoft.AspNetCore.Authorization.Infrastructure

@inject IAccountService AccountService;

<h3>Transaction</h3>
<h4>Transfer balance between accounts</h4>

<div className="mb-2">
    <label>Choose account to send balance</label>
    <InputSelect @bind-Value="senderIndex">
        <option value="-1">Select a sender</option>
        @foreach (var account in _accounts) {
            <option value="@_accounts.IndexOf(account)">@account.Name</option>
        }
    </InputSelect>
</div>

<div className="mb-2">
    <label>Choose account to recieve balance</label>
    <InputSelect @bind-Value="recieverIndex">
        <option value="-1">Select a reciever</option>
        @foreach (var account in _accounts) {
            <option value="@_accounts.IndexOf(account)">@account.Name</option>
        }
    </InputSelect>
</div>

@if (senderIndex != -1 && recieverIndex != -1) {

    @if (AccountService.GetAccountIndex(senderIndex).Currency != AccountService.GetAccountIndex(recieverIndex).Currency) {
        <p style="color: orange">Warning: You are about to transfer between different currencies, the amount will be converted using set exchange rates</p>
    }
    <br />
    <p>Money in account @AccountService.GetAccountIndex(senderIndex).Name: @AccountService.GetAccountIndex(senderIndex).Balance @AccountService.GetAccountIndex(senderIndex).Currency</p>

    <div className="mb-2">
        <label>Amount to transfer to @AccountService.GetAccountIndex(recieverIndex).Name</label>
        <InputNumber @bind-Value="transferAmount"></InputNumber>
        <button @onclick="transferMethod">Transfer Balance</button>
    </div>
    <br/>

    // Local warning & confirm message incase of misinput, clear after every successful method call or input from user
    @if (warningMessage != string.Empty) {
        <p style="color: red">@warningMessage</p>
    }
    @if (confirmMessage != string.Empty) {
        <p style="color: green">@confirmMessage</p>
    }

}

@code {
    int senderIndex = -1;
    int recieverIndex = -1;
    decimal transferAmount = 0;
    string warningMessage = string.Empty;
    string confirmMessage = string.Empty;

    // Create new list _accounts, set using GetAccounts() method
    private List<IBankAccount> _accounts = new();
    protected override async Task OnInitializedAsync() {
        _accounts = await AccountService.GetAccounts();
    }

    void transferMethod() {
        var senderAddress = AccountService.GetAccountIndex(senderIndex);
        var recieverAddress = AccountService.GetAccountIndex(recieverIndex);
        var transfer = new TransactionBank (senderAddress, recieverAddress, transferAmount);
        transfer.Transfer(senderAddress, recieverAddress, transferAmount);
        confirmMessage = "Transfer successful";
    }
}